
<div>
  <p>mensajes:</p>
  <div id="div-msgs" class="div-msgs"></div>
</div>
<div>
  <p>CHAT</p>
  <input type="text" name="" id="input-msg" placeholder="Ingrese su mensaje...">
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="funciones/test-chat.js" ></script>